---
component: navbar
---
<header class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="nav navbar-nav navbar-right">
        {{#each pages}}
          {{#is data.section "pages"}}
          <li{{#if this.isCurrentPage}} class="active"{{/if}}>
            <a href="{{relative dest this.dest}}">{{ data.title }}</a>
          </li>
          {{/is}}
        {{/each}}
        <li class="dropdown{{#is page.data.section "styleguide"}} active{{/is}}">
          <a href class="dropdown-toggle"  id="dropdown1" data-toggle="dropdown">Styleguide <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown1">
           {{#each pages}}
           {{#is data.section "styleguide"}}
            <li{{#if this.isCurrentPage}} class="active"{{/if}}>
              <a href="{{relative dest this.dest}}">{{ data.title }}</a>
            </li>
            {{/is}}
          {{/each}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>