---
component: sidenav
---
<ul class="list-group">
  {{#each sections}}
    <li class="list-group-item">
      <a href="#section-{{reference}}">{{reference}} {{{header}}}</a>
    </li>
  {{/each}}
</ul>